body{
  background: #fdf9ed;;
}

img {
  aspect-ratio: 1/1 auto;
  max-width: 100%;
}

.colors{
  padding: .2rem;
  background: linear-gradient(90deg, rgba(3,2,17,0.9661016949152542) 0%, rgba(163,13,36,1) 50%, rgba(226,227,227,1) 100%);
  /*border-radius: 0.5em 1em;*/
  border-radius: 20px;
 }


.avatar {
	width: 180px;
	height: 180px;
	border-radius: 1000px;
}

.contenedor {
	margin: auto;
	display: table;
}


.contenedor h3 {
	position: relative; 
	float: left;
}
.contenedor h3 span{
	position:absolute;
    right:0;
    width:0;
    background: #fff5d5;
    border-left: 4px solid #000;
    animation: escribir 3s steps(13) infinite alternate;
}

@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}


a:hover{
	cursor: pointer;
}


.link-social:hover{
	box-shadow: 6px 7px 3px rgba(0,0,0,0.3);
}


@font-face {
	font-family: 'game';
	src: url('Orbitron-VariableFont_wght.ttf') format('truetype');
	font-style: normal;
  	font-weight: normal;
}

.header-title{
	font-family: 'game';
	font-size: 40px;
	font-weight: bold;
}

.header-name, .projects, .technologies{
	font-family: 'game';
	font-size: 30px;
}



.info-contacto a span:first-child {
  display: inline-block;
  padding: 10px;
}

.info-contacto a {
  display: block;
  position: relative;
  overflow: hidden;

}

.info-contacto a span:last-child {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
}

.info-contacto a span {
  transition: transform 0.2s ease-out;
}


.info-contacto a:hover span:first-child {
  transform: translateY(100%);
}


.info-contacto a:hover span:last-child {
  transform: none;
}

.cards-grid {
  display: flex;
  grid-gap: 80px;
  padding-bottom: 60px;
}

/* FLIP CARD */
.flip-card {
  width: 320px;
  height: 504px;
  perspective: 2000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
  transform-style: preserve-3d;
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 28px;
  backface-visibility: hidden;
}
.flip-card-front {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.flip-card-back {
  font-size: 1.10rem;
  text-align: center;
  display: grid;
  place-items: center;
  padding: 25px;
  background-color: #B1CFC8;
  transform: rotateY(180deg);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(-180deg);
}



